.nav {
  width: 100%;

  height: 40px;
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 4rem;

  background: transparent;

  position: fixed;

  top: 0;

  left: 0;

  backdrop-filter: blur(12px);

  z-index: 1000;
}

#logo::before {
  content: "HA";
  background: pink;
  color: var(--card-bg);
  font-size: 1.4rem;
  border-radius: 100%;
  padding: 9px 5px;
  box-shadow: var(--shadow-md);
}
.nav-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/*.theme-btn {
    background: transparent;
    border: 2px solid #38BDF8;
    color: inherit;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}
*/
.theme-btn:hover {
  transform: scale(1.1);
}

.nav button {
  position: relative;

  overflow: hidden;

  display: inline-flex;

  align-items: center;

  justify-content: center;

  gap: 0.7rem;

  padding: 1rem 2rem;

  background: var(--primary-color);

  color: white;

  border: none;

  border-radius: 14px;

  cursor: pointer;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    background 0.35s ease;
}

.theme-btn {
  background: transparent;
  color: inherit;
}
.nav h2 {
  color: #38bdf8;

  cursor: pointer;

  font-size: 1.8rem;
}

.nav ul {
  display: flex;

  gap: 35px;
}

.nav a {
  transition: 0.3s;
}

.nav a:hover {
  color: #38bdf8;
}

.nav-links a {
  position: relative;

  transition: 0.35s;
}

.nav-links a.active {
  color: var(--primary-color);

  font-weight: 600;
}

.nav-links a::after {
  content: "";

  position: absolute;

  left: 0;

  bottom: -6px;

  width: 0;

  height: 2px;

  background: var(--primary-color);

  transition: 0.35s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

button.menu-btn {
  display: none;
}


@media (max-width: 992px) {
  .nav {
    position: fixed;
    padding: 0 1rem;
    gap: 4px;
    /* width: 98%;  */
  }
  .nav-links a {
    display: none;
  }

  button.menu-btn {
    display: block;
    border-radius: 10%;
  }
}

@media (max-width: 768px) {
  /* .nav button.menu-btn { */
    /* position: relative; */
    /* overflow: hidden; */
    /* display: inline-flex; */
    /* align-items: end; */
    /* justify-content: flex-end; */
    /* gap: 50rem; */
    /* left: 90%; */
  /* } */
}
@media (max-width: 400px) {
  .nav {

    width: 85%;
    font-size: var(--fs-xs);

    padding: 1rem;

    gap: 1px;
  }

  button.menu-btn{
    position: relative;
    right: 20%;
    padding: 1rem;
    margin: 0 1rem;
    gap: 2px;
  }

}
