.nav {
  width: 100%;

  max-width: 1200px;
  height: 40px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 4rem;

  background: rgba(0, 0, 0, .12);

  color:  white;

  backdrop-filter: blur(8px);

  position: fixed;

  top: 0;

  left: 0;

  gap: 40px;

  backdrop-filter: blur(12px);

  z-index: 1000;
}

#logo::before {
  
  content: "HA";
  width: min(100px, 100%);
  height: auto;
  background: var(--border-color);
  padding: 5px;
  margin:  0;
  color: var(--text-light);
  align-content: center;
  backdrop-filter: blur(5px);
  font-size: clamp(0.71rem, 0.5rem, 1.5rem);
  border-radius: 100%;
  box-shadow: var(--shadow-md);
}
.nav-actions {
  position: absolute;
  top: 0%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  z-index: 999;
}

.theme-btn:hover {
  transform: scale(1.1);
}

.nav button {
  position: relative;

  overflow: hidden;

  display: inline-flex;

  width: auto;

  align-items: center;

  justify-content: center;

  gap: 0.7rem;

  padding: 1rem 2rem;

  /* background: var(--backround-color); */

  /* color: var(--text-color); */

  border: none;

  border-radius: 14px;

  cursor: pointer;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    background 0.35s ease;
}

#logo {
  position: absolute;
  top: 25%;
  left: 5%;
}

.theme-btn {
  background: none;
  color: var(--text-primary);
  border: 1px solid var(--primary-color);
  width: min(42px, 100%);
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  font-size: clamp(1rem, 0.5rem, 1.5rem);
  transition: all 0.3s ease;
}

.menu-btn {
  background: transparent;
  color: var(--text-primary);
  border: 1px solid var(--primary-color);
  width: min(42px, 100%);
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  font-size: clamp(1rem, 0.5rem, 1.5rem);
  transition: all 0.3s ease;
}
.nav h2 {
  color: var(--text-secondary);

  cursor: pointer;

  font-size: clamp(1rem, 0.5rem, 1.5rem);
}

.nav ul {
  position: absolute;

  top: 25%;

  left: 25%;

  display: flex;

  gap: 35px;
}

.nav a {
  transition: 0.3s;
  color: var(--text-secondary);
}

.nav a:hover {
  color: #38bdf8;
}

.nav-links a {
  position: relative;

  transition: 0.35s;
}

.nav-links a.active {
  color: var(--text-primary);

  font-weight: 600;
}

.nav-links a::after {
  content: "";

  position: absolute;

  left: 0;

  bottom: -6px;

  width: 0;

  height: 2px;

  background: var(--primary-color);

  transition: 0.35s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

button.menu-btn {
  display: none;
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  button.menu-btn {
    display: inline-flex;
  }
}
