.sidebar {
  position: fixed;

  top: 0;

  right: 0;

  height: 100vh;

  background: var(--background-color);

  color: var(--text-color);

  display: none;

  flex-direction: column;
  gap: 30px;

  padding: 40px;
  width: 240px;
  transform: translateX(100%);
  pointer-events: none;
  transition: transform 0.35s ease;
  z-index: 1100;
}

.sidebar a {
  font-size: 20px;
  background: var(--text-color);
  color: var(--background-color);
}

.close-btn {
  background: none;

  border: none;

  color: white;

  font-size: 24px;

  cursor: pointer;

  align-self: flex-end;

}

.sidebar.open {

  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  backdrop-filter: blur(8px);
  transform: translateY(0);
  visibility: visible;

  pointer-events: auto;
}

.overlay {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  backdrop-filter: blur(4px);

  z-index: 1050;
}

@media(max-width: 1024px){
  .sidebar.open{
    display: flex;
  }
}

@media(max-width:400px){
    .sidebar.open{
        right: 10%;
    }
}